@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* Forces the entire page to use light mode */
/*:root {*/
/*  color-scheme: light;*/
/*}*/
/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*    --background: #e0c5e6;*/
/*    --foreground: #d5cece;*/
/*  }*/
/*}*/

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
